<div class="container d-flex">
  <div class="flex-container1">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <% @property.photos.each_with_index do |photo, index| %>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" <% if index == 0 %>class="active" aria-current="true"<% end %>  aria-label="Slide <%= index + 1%>"></button>
        <% end %>
      </div>
      <div class="carousel-inner">
        <% @property.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <%= cl_image_tag photo.key, height: 600, width: 700, crop: :fill %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="property-infos d-flex">
      <div class="property-info-details">
        <h2>Surface</h2>
        <p><%= @property.home_size %> m2</p>
      </div>
      <div class="property-info-details">
        <h2>Prix</h2>
        <p><%= @property.price_part %> €</p>
      </div>
      <div class="property-info-details">
        <h2>Pièces</h2>
        <p><%= @property.nbr_room %></p>
      </div>
      <div class="property-info-details">
        <h2>Salles de bain</h2>
        <p><%= @property.nbr_bathroom %></p>
      </div>
      <div class="property-info-details">
        <h2><%= image_tag "location.png", height: 30 %></h2>
        <p class="notbold"><%= @property.address %></p>
      </div>
    </div>
    <div flex-container>
        <%= link_to "Se positionner sur ce bien", "#", class: "btn btn-flat" %>

        <% if current_user.favorited?(@property) %>
          <%= link_to "UnFavorite", unfavorite_property_path(@property), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Favorite", favorite_property_path(@property), method: :post, class: "btn btn-danger" %>
        <% end %>
    </div>
  </div>

  <div class="flex-container3">
    <div class="flex-item">
      <div class="mapbox-index" style="width: 80%; height: 400px"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

    <div class="flex-item" id="outline">
      <h3>Faites la simulation de ce que vous coûte ce bien avec Splithouse</h3>

        <div>
          <input type="range" id="Nbr de nuitées/an." name="Nbr de nuitées/an."
                min="44" max="176" oninput="num.value = this.value" value=44>
                <output id="num">44</output>
          <label for="Nbr de nuitées/an.">Nbr de nuitées/an.</label>
        </div>

        <div>
          <input type="range" id="Proches parrainés." name="Proches parrainés."
                min="0" max="7" oninput="parrainages.value = this.value" value=0>
                <output id="parrainages">0</output>
          <label for="Proches parrainés.">Proches parrainés.</label>
        </div>

        <div>
          <input type="range" id="Nuitées non consommeés/an." name="Nuitées non consommeés/an."
                min="0" max="44" oninput="nuitees.value = this.value" value=0>
                <output id="nuitees">0</output>
          <label for="Nuitées non consommeés/an.">Nuitées non consommeés/an.</label>
        </div>
      <p class="p-0 m-0">Montant de mon investissement</p>
      <p class="p-0 m-0">Charges mensuelles hors emprunt</p>
      <p class="p-0 m-0">Dont frais Splithouse</p>
      <p class="p-0 m-0">Revenus mensuels des nuitées non consommées</p>

    </div>
  </div>
</div>
<div class="container mt-5 mb-5">
  <div class="card">
    <div class="card-trip-infos">
      <h1>A propos de ce bien:</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
</div>
