<div class="banner-header" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://www.univers-vacances.fr/wp-content/uploads/2020/07/pierre-et-vacances-ete-piscine-image-principale.jpg);">
    <div class="container">
      <h1>Jetez-vous à l'eau,</h1>
      <h1>devenez <span data-controller="notation">propriétaire !</span></h1>
      <%= link_to "Trouver ma maison !", properties_path, class: "btn btn-primary sh-btn-primary btn-banner" %>
    </div>
  </div>
<div class="container py-5">


     <div class="search-form form-inline-home mt-5 mb-5">
    <%= simple_form_for :search, url: properties_path, method: "GET", defaults: { required: false }, html: { class: 'form-inline' } do |f| %>
    <div class="flexbox-class">
        <% if params["search"] %>
          <%= f.input :nbr_room, label: false, collection: 1..10, include_blank: 'Chambres', input_html: {value: ""}, selected: params["search"]["nbr_room"] %>
          <%= f.input :budget, label: false, include_blank: "Budget", collection: ["10 000 € - 100 000 €", "100 001 € - 200 000 €" , "200 001 € - 300 000 €", "300 001 € - 500 000 €" ], input_html: {value: ""}, selected: params["search"]["budget"]%>
          <%= f.input :region, label: false, include_blank: "Région", collection: ["Auvergne-Rhône-Alpes", "Bourgogne-Franche-Comté", "Bretagne", "Centre-Val de Loire", "Corse", "Grand Est", "Hauts-de-France", "Ile-de-France", "Normandie", "Nouvelle-Aquitaine", "Occitanie", "Pays de la Loire", "Provence-Alpes-Côte d’Azur" ], input_html: {value: ""}, selected: params["search"]["region"]%>
          <%= f.input :home_size, label: false, include_blank: "Superficie", collection: ["1 m2 - 50 m2", "51 m2 - 100 m2" , "101 m2 - 200 m2", "201 m2 - 300 m2" ], input_html: {value: ""}, selected: params["search"]["home_size"]%>
        <% else %>
          <%= f.input :nbr_room, label: false, collection: 1..10, include_blank: 'Chambres', input_html: {value: ""}%>
          <%= f.input :budget, label: false, include_blank: "Budget", collection: ["10 000 € - 100 000 €", "100 001 € - 200 000 €" , "200 001 € - 300 000 €", "300 001 € - 500 000 €" ],input_html: {value: ""}%>
          <%= f.input :region, label: false, include_blank: "Région", collection: ["Auvergne-Rhône-Alpes", "Bourgogne-Franche-Comté", "Bretagne", "Centre-Val de Loire", "Corse", "Grand Est", "Hauts-de-France", "Ile-de-France", "Normandie", "Nouvelle-Aquitaine", "Occitanie", "Pays de la Loire", "Provence-Alpes-Côte d’Azur" ],input_html: {value: ""}%>
           <%= f.input :home_size, label: false, include_blank: "Superficie", collection: ["1 m2 - 50 m2", "51 m2 - 100 m2" , "101 m2 - 200 m2", "201 m2 - 300 m2" ], input_html: {value: ""}%>
        <% end %>

<div class="small-3 columns">
  <%= button_tag type: 'submit', class: "button postfix" do %>
      <i class="fas fa-search"></i>
  <% end %>
</div>    </div>
    <% end %>
  </div>

  <div>
    <h2 class="splithouse">Les avantages de SplitHouse </h2>
  </div>


  <div class="d-flex justify-content-evenly flex-wrap align-items-center py-5 cards-advantages">

    <div class="d-flex flex-column align-items-center justify-content-center p-3 bg-primary my-4 card-advantage" style="width: 20%;">
      <%= image_tag "shared.svg", style: "width: 80px; height: 80px; object-fit: cover; margin-bottom: 20px;" %>
      <h6 class="small text-center">Partage des frais avec les autres co-propriétaires</h6>
    </div>

    <div class="d-flex flex-column align-items-center justify-content-center p-3 bg-primary my-4 card-advantage" style="width: 20%;">
      <%= image_tag "Winners.svg", style: "width: 80px; height: 80px; object-fit: cover; margin-bottom: 20px;" %>
      <h6 class="small text-center">Accès à une gamme de produit plus élevés</h6>
    </div>

    <div class="d-flex flex-column align-items-center justify-content-center p-3 bg-primary my-4 card-advantage" style="width: 20%;">
      <%= image_tag "Timer.svg", style: "width: 80px; height: 80px; object-fit: cover; margin-bottom: 20px;" %>
      <h6 class="small text-center">Garantie de revendre facilement</h6>
    </div>

     <div class="d-flex flex-column align-items-center justify-content-center p-3 bg-primary my-4 card-advantage" style="width: 20%;">
     <%= image_tag "Contrat.svg", style: "width: 80px; height: 80px; object-fit: cover; margin-bottom: 20px;" %>
      <h6 class="small text-center">Aucun souci d’entretien ou de gestion</h6>
    </div>
  </div>










  <div>
    <h2 class="splithouse">Aperçu de notre catalogue</h2>
  </div>

  <div class="gallery my-3">
    <% @properties.each.each_with_index do |property,index| %>

        <div id="property-<%= property.id %>" class="card property-card">
          <div class="property-card-image">
            <h2 class="property-card_parts"><%= property.price_part.to_s.gsub(/(?<=\d)(?=(?:\d{3})+\z)/, ' ') %> € / part</h2>
            <h2 class="property-card_remaining">Reste : <%= property.part_left <= 1 ? "#{property.part_left} part" : "#{property.part_left} parts"  %></h2>
            <% if user_signed_in? %>
              <% if current_user.favorited?(property) %>
                <%= link_to image_tag("heart.png"), unfavorite_property_path(property), class: "btn btn-heart-card", remote: true, data: { controller: "toggle-heart", action:"click->toggle-heart#favorite"} %>
              <% else %>
                <%= link_to image_tag("heart.png"), favorite_property_path(property), class: "btn btn-heart-card btn-heart-70", remote: true, data: { controller: "toggle-heart", action:"click->toggle-heart#favorite"}  %>
              <% end %>
            <% end %>
            <div id='<%="carouselExampleControls#{index}"%>' class="carousel slide" data-interval="false" data-ride="carousel">
              <div class="carousel-inner unset-border-radius">
                <div class="carousel-item active">
                  <%= cl_image_tag property.photos.first.key, class: "d-block w-100", alt: "Photo 1" %>
                </div>
                <% property.photos.each_with_index do |photo, index| %>
                  <% if index > 0 %>
                    <div class="carousel-item">
                      <%= cl_image_tag photo.key, class: "d-block w-100", alt: "Photo #{index}" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <a class="carousel-control-prev" href='<%="#carouselExampleControls#{index}"%>' role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href='<%="#carouselExampleControls#{index}"%>' role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="property-card-body">
            <h5 class="property-card-title sh-blue-text"><%= property.title %></h5>
            <div class="property-card-text flex-grow-1 d-flex flex-column mb-2">
              <p class="mb-0 ps-0"><i class="fas fa-map-marker-alt"></i><%= property.address.split(",").second %></p>
              <p class="mb-0 ps-0"><i class="fas fa-home"></i><%= " #{property.home_size}" %> m2</p>
              <p class="mb-0 ps-0"><i class="fas fa-bed"></i><%= " #{property.nbr_room}" %></p>
              <p class="mb-0 ps-0"><i class="fas fa-bath"></i><%= " #{property.nbr_bathroom}" %></p>
            </div>
            <% if user_signed_in? %>
              <%= link_to "Découvrir", property_path(property.id), class: "btn btn-primary btn-decouvrir mx-auto" %>
            <% else %>
              <button type="button" class="btn btn-primary btn-decouvrir mx-auto" data-bs-toggle="modal" data-bs-target="#signupModal">
                Voir plus
              </button>
            <% end %>
          </div>
        </div>


    <% end %>
  </div>



   <div class="catalogue" >
    <%= link_to properties_path, class: "btn btn-primary btn-contact" do %>
    Tout voir       <i class="fas fa-angle-double-right"></i>
    <% end %>

    </div>

</div>







  <div class="background-casa">
    <div class="banner-casa" style="background-image: url(<%= image_path "img-question.svg" %>);">
      <div class="container">
        <h2 class="splithouse-bis">FAQ</h2>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Comment financer l’achat ?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Le financement</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Suis-je réellement propriétaire ?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>La propriété</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Qui prend en charge la gestion et l'entretien ?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>La logisitique</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingfour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                Est-il possible d’acheter plusieurs parts ?
              </button>
            </h2>
            <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingfive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                Est-ce difficile de revendre une part ?
              </button>
            </h2>
            <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="sci-info-mere" style="background-image: url(<%= image_path "SVG-picture.svg" %>);">

    <div class="sci-info">
      <h2 class="splithouse">Pourquoi choisir une SCI ?</h2>
      <p class="p-sci"><strong>O</strong>ffre une structure juridique souple et simplifiée</p>
      <p class="p-sci"><strong>P</strong>ermet de contourner l’indivision</p>
      <p class="p-sci"><strong>S</strong>implifie la transmission des biens immobiliers</p>
      <p class="p-sci"><strong>D</strong>ispose d’une fiscalité très avantageuse</p>
    </div>
  </div>


<div class="container py-5">

  <div>
    <h2 class="splithouse">Où voulez vous vous ressourcer ?</h2>
  </div>

  <div class="cards-place">
    <div class="card-category d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1567351673954-0cb49f639dc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dG91bG91c2V8ZW58MHx8MHx8&w=1000&q=80)">
      <a href="#" class="btn btn-primary btn-environ">Ville</a>
    </div>

    <div class="card-category d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://c.pxhere.com/photos/6a/05/massif_parpaillon_landscapes_mountain_nature_spring_snow_summit_alps-1328229.jpg!d)">
      <a href="#" class="btn btn-primary btn-environ">Montagne</a>
    </div>

    <div class="card-category d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.familiscope.fr/assets/fiches/49000/49550-palombaggia.jpg)">
      <a href="#" class="btn btn-primary btn-environ">Mer</a>
    </div>

    <div class="card-category d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://ns328286.ip-37-187-113.eu/ew/wallpapers/800x480/03004_800x480.jpg)">
    <a href="#" class="btn btn-primary btn-environ">Campagne</a>
       <%#= link_to "Campagne", properties_path(environement: "campagne"), class: "btn btn-primary btn-campagne" %>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Connectez vous pour en voir plus !</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn btn-primary" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<%# <script>
  const init = function(){
    let items = document.querySelectorAll('.gallery > div');
    for (let i = 0; i < items.length; i++){
      items[i].style.minWidth = 30 + 'vw';
      items[i].style.margin = 30 + 'px';
    }
  }
  init();
</script> %>
