<div class="container py-5">
  <div class="banner-header" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.univers-vacances.fr/wp-content/uploads/2020/07/pierre-et-vacances-ete-piscine-image-principale.jpg);">
    <div class="container">
      <h1>Jetez-vous à l'eau,</h1>
      <h1>devenez propriètaire !</h1>
      <%= link_to "Trouver ma maison !", properties_path, class: "btn btn-primary sh-btn-primary btn-banner" %>
    </div>
  </div>

   <div class="search-form form-inline mt-5 mb-5">
    <%= simple_form_for :search, url: properties_path, method: "GET", defaults: { required: false }, html: { class: 'form-inline' } do |f| %>
        <% if params["search"] %>
          <%= f.input :nbr_room, label: "Chambres", collection: 1..10, include_blank: true, input_html: {value: ""}, selected: params["search"]["nbr_room"] %>
          <%= f.input :budget, collection: ["1 € - 100 000 €", "100_001 € - 200_000 €" , "200_001 € - 500_000 €" ], include_blank: true, input_html: {value: ""}, selected: params["search"]["budget"]%>
          <%= f.input :region, label: "Région", collection: ["Auvergne-Rhône-Alpes", "Bourgogne-Franche-Comté", "Bretagne", "Centre-Val de Loire", "Corse", "Grand Est", "Hauts-de-France", "Ile-de-France", "Normandie", "Nouvelle-Aquitaine", "Occitanie", "Pays de la Loire", "Provence-Alpes-Côte d’Azur" ], include_blank: true, input_html: {value: ""}, selected: params["search"]["region"]%>
          <%= f.input :home_size, label: "Superficie", collection: ["1 m2 - 50 m2", "51 m2 - 100 m2" , "101 m2 - 200 m2" ], include_blank: true, input_html: {value: ""}, selected: params["search"]["home_size"]%>
        <% else %>
          <%= f.input :nbr_room, collection: 1..10, include_blank: true, input_html: {value: ""}%>
          <%= f.input :budget, collection: ["1 € - 100 000 €", "100_001 € - 200_000 €" , "200_001 € - 500_000 €" ], include_blank: true,input_html: {value: ""}%>
          <%= f.input :region, label: "Région", collection: ["Auvergne-Rhône-Alpes", "Bourgogne-Franche-Comté", "Bretagne", "Centre-Val de Loire", "Corse", "Grand Est", "Hauts-de-France", "Ile-de-France", "Normandie", "Nouvelle-Aquitaine", "Occitanie", "Pays de la Loire", "Provence-Alpes-Côte d’Azur" ], include_blank: true,input_html: {value: ""}%>
           <%= f.input :home_size, label: "Superficie", collection: ["1 m2 - 50 m2", "51 m2 - 100 m2" , "101 m2 - 200 m2" ], include_blank: true, input_html: {value: ""}%>
        <% end %>

        <%= f.submit "Rechercher", class: "btn btn-primary btn-rechercher" %>

    <% end %>
  </div>

  <div>
    <h2 class="splithouse">Les avantages de l’achat avec SplitHouse </h2>
  </div>

  <div class="d-flex justify-content-evenly flex-wrap align-items-center py-5">
    <div class="d-flex flex-column align-items-center justify-content-center p-4 bg-primary my-3 card-advantage" style="width: 30%;">
      <%= image_tag "logo-partage.png", style: "width: 80px; height: 80px; object-fit: cover; margin-bottom: 20px;" %>
      <h6 class="small text-center">Partage des frais avec les autres co-propriètaires</h6>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center p-4 bg-primary my-3 card-advantage" style="width: 30%;">
      <%= image_tag "fusee.png", style: "width: 80px; height: 80px; object-fit: cover; margin-bottom: 20px;" %>
      <h6 class="small text-center">Permet d’accèder à la propriété rapidement</h6>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center p-4 bg-primary my-3 card-advantage" style="width: 30%;">
      <%= image_tag "diamond.png", style: "width: 80px; height: 80px; object-fit: cover; margin-bottom: 20px;" %>
      <h6 class="small text-center">Accès à une gamme de produit plus élevé</h6>
    </div>

    <div class="d-flex flex-column align-items-center justify-content-center p-4 bg-primary my-3 card-advantage" style="width: 30%;">
      <%= image_tag "revente.png", style: "width: 80px; height: 80px; object-fit: cover; margin-bottom: 20px;" %>
      <h6 class="small text-center">Garantie de revendre facilement</h6>
    </div>

     <div class="d-flex flex-column align-items-center justify-content-center p-4 bg-primary my-3 card-advantage" style="width: 30%;">
     <%= image_tag "key.png", style: "width: 80px; height: 80px; object-fit: cover; margin-bottom: 20px;" %>
      <h6 class="small text-center">Aucun soucis de d’entretien</h6>
    </div>
  </div>


  <div>
    <h2 class="splithouse">Apercu de notre catalogue</h2>
  </div>

  <div class="gallery">
    <% @properties.each do |property| %>
      <div>
        <div class="card sh-property-card">
          <% unless property.photos_attachments.empty? %>
            <%= cl_image_tag property.photos.first.key, class: "card-img-top sh-card-img" %>
          <% else %>
            <img src="https://marieclaire.be/fr/wp-content/uploads/2018/01/marieclaire_chalet_ian-keefe_unsplahs.jpg" class="card-img-top" alt="carousel-image-1">
          <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= property.title %></h5>
              <p class="card-text"><%= property.detail %></p>


              <%= link_to "Jetez un coup d'oeil à cette propriété", property_path(property), class: "btn btn-primary sh-btn-primary" %>
            </div>
        </div>
      </div>
    <% end %>
  </div>

   <div class="catalogue" >
  <%= link_to properties_path, class: "btn btn-primary btn-contact" do %>
   Tout voir       <i class="fas fa-angle-double-right"></i>
  <% end %>

  </div>

  <div class="background-casa">
    <div class="banner-casa" style="background-image: url(<%= image_path "casa.png" %>);">
      <div class="container">
        <h2 class="splithouse-bis">FAQ</h2>
        <p class="p-faq">Comment financer l’achat ?</p>
        <p class="p-faq">Suis-je réellement propriétaire ?</p>
        <p class="p-faq">Qui prend en charge la gestion et l'entretien ?</p>
        <p class="p-faq">Est-il possible d’acheter plusieurs parts ?</p>
        <p class="p-faq">Est-ce difficile de revendre une part ?</p>
      </div>
    </div>
  </div>
</div>


  <div class="sci-info-mere" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://i.pinimg.com/originals/9a/a9/eb/9aa9ebfeec560b0ccb388a109b5c9e8c.jpg);">
    <div class="sci-info">
      <h2 class="splithouse">Pourquoi choisir une SCI ?</h2>
      <p class="p-sci"><strong>O</strong>ffre une structure juridique souple et simplifiée</p>
      <p class="p-sci"><strong>P</strong>ermet de contourner l’indivision</p>
      <p class="p-sci"><strong>S</strong>implifie la transmission des biens immobiliers</p>
      <p class="p-sci"><strong>D</strong>ispose d’une fiscalité très avantageuse</p>
    </div>
  </div>


<div class="container py-5">

  <div>
    <h2 class="splithouse">Où voulez vous vous ressourcer ?</h2>
  </div>

  <div class="cards-place">
    <div class="card-category d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1567351673954-0cb49f639dc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dG91bG91c2V8ZW58MHx8MHx8&w=1000&q=80)">
      <a href="#" class="btn btn-primary btn-environ">Ville</a>
    </div>

    <div class="card-category d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://c.pxhere.com/photos/6a/05/massif_parpaillon_landscapes_mountain_nature_spring_snow_summit_alps-1328229.jpg!d)">
      <a href="#" class="btn btn-primary btn-environ">Montagne</a>
    </div>

    <div class="card-category d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.familiscope.fr/assets/fiches/49000/49550-palombaggia.jpg)">
      <a href="#" class="btn btn-primary btn-environ">Mer</a>
    </div>

    <div class="card-category d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://ns328286.ip-37-187-113.eu/ew/wallpapers/800x480/03004_800x480.jpg)">
    <a href="#" class="btn btn-primary btn-environ">Campagne</a>
       <%#= link_to "Campagne", properties_path(environement: "campagne"), class: "btn btn-primary btn-campagne" %>
    </div>
  </div>
</div>

<script>
  const init = function(){
    let items = document.querySelectorAll('.gallery > div');
    for (let i = 0; i < items.length; i++){
      items[i].style.minWidth = 30 + 'vw';
      items[i].style.margin = 30 + 'px';
    }
  }
  init();
</script>
