
<div class="d-flex dashboard-custom">
      <div class="container">
        <div class="row row-1">
          <div class="col-lg-9">
            <h1 class="font-weight-bold mb-0">Mon dashboard</h1>
          </div>
          <div class="col-lg-3 d-flex">
            <a href="<%= dashboard_agenda_path %>" class="btn-ageanda-dashboard w-100 align-self-center">Mon agenda</a>
          </div>
        </div>
      </div>

      <div class="container-content-dashboard">
        <div class="card rounded-0">
          <div class="card-body-stat-dashboard">
            <div class="row">
              <div class="col-lg-3 d-flex stat my-3">
                <div class="mx-auto">
                  <h6 class="text-muted">Mes parts</h6>
                  <%= image_tag "parts-logo-dashboard" %>
                  <h3 class="font-weight-bold color-secondary"><%= @data_buyer[:total_parts] %> Parts</h3>
                </div>
              </div>
              <div class="col-lg-3 d-flex stat my-3">
                <div class="mx-auto">
                  <h6 class="text-muted">Montant investit</h6>
                  <%= image_tag "invests-logo-dashboard" %>
                  <h3 class="font-weight-bold color-secondary"><%= @data_buyer[:total_invest] %> K</h3>
                </div>
              </div>
              <div class="col-lg-3 d-flex stat my-3">
                <div class="mx-auto">
                  <h6 class="text-muted">Nuits Restantes</h6>
                  <%= image_tag "nuits-restantes-dashboard" %>
                  <h3 class="font-weight-bold color-secondary"><%= @data_buyer[:total_nuits_restantes] %> Nuits</h3>
                </div>
              </div>
              <div class="col-lg-3 d-flex stat my-3">
                <div class="mx-auto">
                  <h6 class="text-muted">Nuits Utilisées</h6>
                  <%= image_tag "nuits-utilise-dashboard" %>
                  <h3 class="font-weight-bold color-secondary"><%= @data_buyer[:total_nuits_utilise] %> Nuits</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row justify-content-between">

          <div class="dashboard-columns bg-white m-1">
            <%= image_tag "logo-my-property-dashboard", class:"image-card-property-dashboard" %>
            <div class="d-flex flex-wrap justify-content-between">
              <% if @status_buyer != nil %>
              <% @status_buyer.each_with_index do |status, index| %>
              <div class="card dashboard-card">
                <%= cl_image_tag status[:property_details][:property].photos.first.key, class:"img-card-dashboard" %>
                <div class="card-body d-flex flex-column justify-content-between">
                  <h5 class="card-title sh-blue-text"><%= status[:property_details][:title] %></h5>
                  <p class="card-text p-0"><%= status[:property_details][:detail] %></p>
                  <!-- Button Modal Property -->
                  <button type="button" class="btn btn-primary border-none" data-bs-toggle="modal" data-bs-target="#ModalProperty<%=index%>">
                    Voir plus
                  </button>
                </div>
              </div>
              <!-- Modal Property -->
              <div class="modal fade" id="ModalProperty<%=index%>" tabindex="-1" aria-labelledby="ModalProperty<%=index%>Label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="card-property-dashboard">
                    <div class="modal-header">
                      <h5 class="modal-title" id="ModalProperty<%=index%>Label"><%= status[:property_details][:title] %></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body-modal-dasboard">

                      <div class="flex-container-card-dashboard">
                        <div class="flex-items-card-dashboard">
                          <div class="menu-card-modal-dasboard" style="width: 18rem;">
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                              <%= "Il vous reste #{status[:stat_booking][:day_restant]}/Jours"%>
                              <span class="visually-hidden">unread messages</span>
                            </span>
                            <%= cl_image_tag status[:property_details][:property].photos.first.key, class:"img-card-dashboard-modale w-100" %>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item-card-modal-dasboard">Investissement total : <%= status[:property_details][:invest] %> €</li>
                              <li class="list-group--card-modal-dasboard">Nombre de parts : <span class="badge rounded-pill bg-primary"><%= @status_buyer[index][:parts] %></span></li>
                              <li class="list-group--card-modal-dasboard">Nuits allouées : <span class="badge rounded-pill bg-success"><%= status[:stat_booking][:day_allowed] %></span></li>
                              <li class="list-group--card-modal-dasboard">Nuits utilisés : <span class="badge rounded-pill bg-info text-dark"><%= status[:stat_booking][:day_utilise] %></span></li>
                              <h4>Dernière réservation</h4>
                              <li class="list-group-item"><%= status[:last_booking] != nil ? "Du #{status[:last_booking][:start_date]} au #{status[:last_booking][:finish_date]}" : "Aucune réservation pour le moment" %></li>
                            </ul>
                            <div>
                              <%= simple_form_for [status[:property_details][:property], @booking] do |f| %>
                                  <%= f.input :start_date, as: :string,
                                                          required: true,
                                                          as: :hidden,
                                                          input_html: { id: "range_start", class: "d-none" } %>
                                  <%= f.input :finish_date, as: :string,
                                                        as: :hidden,
                                                        required: true,
                                                        input_html: { id: "range_end", class: "d-none" } %>
                                  <%= f.button :submit, "Réserver", class: "btn btn-primary" %>
                                <% end %>
                                <% booking_dates = status[:property_details][:property].bookings.map do |booking|
                                      {
                                        from: booking.start_date,
                                        to:   booking.finish_date
                                      }
                                    end %>
                                  <div  id="booking-form-div"
                                        data-bookings="<%= booking_dates.to_json %>">
                                  </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>

            <% else %>
                <p>Rien</p>
            <% end %>

            </div>

          </div>

          <div class="dashboard-columns bg-white m-1">
            <%= image_tag "logo-my-favorites-dashboard", class:"image-card-property-dashboard" %>
          <% if current_user.all_favorited != nil %>
            <div class="d-flex flex-wrap justify-content-between">
              <% current_user.all_favorited.each do |favorite| %>
              <div class="card dashboard-card">
                <%= cl_image_tag favorite.photos.first.key, class: "img-card-dashboard" %>
                <div class="card-body d-flex flex-column justify-content-between">
                  <h5 class="card-title sh-blue-text"><%= favorite.title %></h5>
                  <p class="card-text p-0"><%= favorite.detail %></p>

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item ps-0"><i class="fas fa-map-marker-alt location-icon-dashboard pe-2"></i><%= favorite.address %> </li>
                    <li class="list-group-item ps-0"><%= pluralize(favorite.nbr_room, "chambre", "chambres") %></li>
                    <li class="list-group-item ps-0"><%= pluralize(favorite.nbr_bathroom, "salle de bain", "salles de bain") %></li>
                    <li class="list-group-item ps-0">Prix par part : <%= favorite.price_part %> €</li>
                  </ul>
                  <%= link_to "Revoir l'annonce", property_path(id: favorite.id), class: "btn btn-primary border-none" %>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
